/***** EMPRESA ******/

.empresa {
    padding: 10%;
    background-color: var(--ColorSecondary);
    background-image: radial-gradient(#ffffff 0.9500000000000001px, brown 0.9500000000000001px);
    background-size: 19px 19px;

    .empresa-container {
        display: flex;
        flex-flow: column;
    }

    .empresa-title {
        font-size: 3rem;
        color: var(--ColorPrincipal);
        text-align: center;
        text-shadow: 5px 5px #bb5555;
    }

    .empresa-paragraph {
        color: var(--ColorPrincipal);
        font-size: 1.9em;
    }


}