/**FOOTER**/

footer {
    margin: 2em;
    background-color: var(--ColorPrincipal);

}

.footer-content {
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer__btn button {
    margin-left: 35%;

    font-weight: bold;
    color: var(--ColorPrincipal);
    padding: 0.5em 1.5em;
    background-color: var(--ColorSecondary);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.footer__btn button:hover {
    background-color: var(--ColorPrincipal);
    color: brown;
    transform: scale(1.1);
    border: 1px solid var(--ColorSecondary);
}


.footer_paragraph {
    max-width: 31.25rem;
    margin: 10px auto;
    line-height: 28px;
    font-size: 1em;
    text-align: center;

}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 rem 0;

}


.footer__icon {
    color: black;
    background-color: var(--ColorPrincipal);
    transition: all 0.3s ease 0s;
    margin: auto;
}

.footer__icon:hover {
    transform: scale(1.3);
    background-color: var(--ColorSecondary);
    color: var(--ColorPrincipal);
}

.footer-bottom {
    width: 100vw;
    padding: 1.25em 0;
    text-align: center;
}

.footer-bottom p {
    text-align: center;
    font-size: 1em;
    word-spacing: 2px;
    text-transform: capitalize;

}