/***** ubicacion ******/

.ubicacion-container {
    padding: 10%;
    background-color: brown;
    background-image: radial-gradient(#ffffff 0.9500000000000001px, brown 0.9500000000000001px);
    background-size: 19px 19px;
    display: flex;
    flex-flow: column;
    align-items: center;
}



.ubicacion-button {
    width: 5rem;
    height: 2.5rem;
    margin: 2rem;
}

.ubicacion-button:hover {
    cursor: pointer;
}