/* @import url(normalize.css); */

@import url('https://fonts.googleapis.com/css2?family=Abel&family=EB+Garamond:wght@400;500;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100&family=Secular+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Abel&family=EB+Garamond:wght@400;500;700&family=Heebo:wght@100;300;400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100&family=Secular+One&display=swap');



body {

    font-family: 'ABeeZee', sans-serif;
    font-family: 'Abel', sans-serif;
    font-family: 'EB Garamond', serif;
    font-family: 'Heebo', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Secular One', sans-serif;
    font-size: 16px;

}

.container {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.header {
    z-index: 1;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    height: 12%;
    padding: 0.3em 10%;
    position: fixed;


}

.logo {

    transition: all 0.3s;
}


.nav {
    display: flex;

}

.nav__links {
    list-style: none;
}

li {
    display: inline-block;
    padding: 0 20px;

}

a {
    text-decoration: none;
    color: black;
    font-size: large;
}

.nav__links li:hover {
    transform: scale(1.1);
    color: brown;
}

.nav__links li a:hover {
    color: brown;

}

.btn button {
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 9px 25px;
    background-color: #a52a2a;
    border: none;
    border-radius: 3.125rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn button:hover {
    background-color: white;
    color: brown;
    transform: scale(1.1);
    border: 1px solid #a52a2a;
}


/***** WELCOME ******/
.container__welcome {
    position: relative;
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    background-color: brown;
    background-image: radial-gradient(#ffffff 0.9500000000000001px, brown 0.9500000000000001px);
    background-size: 19px 19px;

}


.welcome__welcome {
    font-size: 3rem;
    margin-top: 3em;
    position: relative;
    color: #ffffff;
    text-align: center;
    text-shadow: 5px 5px #bb5555;

}

/* .grid__images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    width: 50%;
    height: auto;
} */

/* .feather {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
} */

/* .imagenprueba {
    height: 700px;
    width: 1500px;
} */

/* d-block w-100 {
    height: 100%;
    width: 100%;
    object-fit: contain;
} */



/***** EMPRESA ******/

.empresa {
    padding: 10%;
    background-color: brown;
    background-image: radial-gradient(#ffffff 0.9500000000000001px, brown 0.9500000000000001px);
    background-size: 19px 19px;
}

.empresa-container {
    display: flex;
    flex-flow: column;
}

.empresa-title {
    font-size: 3rem;
    color: white;
    text-align: center;
    text-shadow: 5px 5px #bb5555;
}

.empresa-paragraph {
    color: #fff;
    font-size: 1.1em;
}



/***** PRODUCTOS ******/

.producto-grid {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.producto-title {
    font-size: 3rem;
    color: white;
    text-align: center;
    text-shadow: 5px 5px #bb5555;
}

.producto {
    padding: 10%;
    background-color: brown;
    background-image: radial-gradient(#ffffff 0.9500000000000001px, brown 0.9500000000000001px);
    background-size: 19px 19px;
}

.producto-box-title {
    font-size: 2rem;
    color: white;
    text-align: center;
}

.producto-text {
    margin-top: 2rem;
    text-align: center;
    color: white;
}

.producto-img {
    display: block;
    margin: 0px auto;
    max-width: 80%;
    max-height: 500px;
    object-fit: contain;
    border-radius: 5%;

}

.producto-img-vinagre {
    display: block;
    margin: 0px auto;
    max-width: 80%;
    max-height: 500px;
    object-fit: contain;
    border-radius: 5%;
}


/***** UBICACION ******/

.ubicacion-container {
    padding: 10%;
    background-color: brown;
    background-image: radial-gradient(#ffffff 0.9500000000000001px, brown 0.9500000000000001px);
    background-size: 19px 19px;
    display: flex;
    flex-flow: column;
    align-items: center;
}



.ubicacion-button {
    width: 5rem;
    height: 2.5rem;
    margin: 2rem;
}

.ubicacion-button:hover {
    cursor: pointer;
}

/***** CONTACTO ******/


.contact-container {
    padding: 10%;
    background-color: brown;
    background-image: radial-gradient(#ffffff 0.9500000000000001px, brown 0.9500000000000001px);
    background-size: 19px 19px;

}

form {
    border: solid black;
    font-size: 1.5rem;
    width: 30em;
    padding: 5em;
    border-radius: 10px;
    margin: auto;
    background-color: #ccc;
}

form label {
    width: 4.5em;
    font-weight: lighter;
    display: inline-block;
}

form input[type="text"],
form input[type="email"] {
    width: 11.25em;
    padding: 3px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    display: inline-block;
}

form input[type="submit"] {
    width: 100%;
    padding: 8px 16px;
    margin-top: 32px;
    border: 1px solid #000;
    border-radius: 5px;
    display: block;
    color: #fff;
    background-color: #000;
}

form input[type="submit"]:hover {
    cursor: pointer;

    transform: scale(1.1);
}

textarea {
    width: 90%;
    height: 6em;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    /*resize: vertical | horizontal | none | both*/
    resize: none;
    display: block;
}


/**FOOTER**/

footer {
    margin: 2em;
    background-color: #ffffff;
    ;
}

.footer-content {
    height: 20em;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer__btn button {
    margin-left: 35%;

    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 0.5em 1.5em;
    background-color: #a52a2a;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.footer__btn button:hover {
    background-color: white;
    color: brown;
    transform: scale(1.1);
    border: 1px solid #a52a2a;
}


.footer_paragraph {
    max-width: 31.25rem;
    margin: 10px auto;
    line-height: 28px;
    font-size: 1em;
    text-align: center;

}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 rem 0;

}


.footer__icon {
    color: black;
    background-color: #ffffff;
    transition: all 0.3s ease 0s;
    margin: auto;
}

.footer__icon:hover {
    transform: scale(1.3);
    background-color: #a52a2a;
    color: #ffffff;
}

.footer-bottom {
    width: 100vw;
    padding: 1.25em 0;
    text-align: center;
}

.footer-bottom p {
    text-align: center;
    font-size: 1em;
    word-spacing: 2px;
    text-transform: capitalize;

}

.header__icon {
    display: none;
}

/******* MEDIA QUERIS *******/

@media screen and (max-width: 1024px) {

    .header {
        width: 100%;
        height: 15em;
        flex-direction: column;
        padding: 0;
        position: relative;
    }

    nav {
        position: absolute;
    }

    a {
        font-size: medium;
    }

    .btn {
        position: absolute;
        top: 9em;
    }

    .footer-content {

        flex-direction: column-reverse;

    }

}



@media screen and (max-width: 320px) {

    .header {
        height: 8em;
        flex-direction: row;
        justify-content: space-evenly;
    }

    nav {
        display: none;
    }

    .btn button {
        display: none;
    }

    #lateral {
        display: flex;
        flex-direction: column;
        display: block;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -100%;
        background-color: #fff;
        transition: left 1s;
    }

    #lateral:target {
        left: 0;
    }

    .nav__links {
        flex-direction: column;
        text-align: start;
    }

    .header__icon {
        display: block;
        color: black;
        font-weight: bold;
    }

    .welcome__welcome {
        color: #ffffff;
        font-size: 2rem;
        text-align: center;

    }

    .grid__images {
        width: 15em;
        padding-bottom: 2em;
    }

    .footer-content {
        position: relative;
        height: 20em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

    .footer_paragraph {
        text-align: justify;
        margin-top: 3em;

    }

    .footer__btn {
        position: absolute;
    }

    .socials {
        position: absolute;
        right: 2em;
        bottom: 3em;
    }

    .footer__paragraph {
        margin-top: 3em;
        font-weight: bold;
    }




    /********PRODUCTO MOBILE*********/

    .producto-title {
        font-size: 3em;
    }

    .producto-grid {
        display: grid;
        grid-template-columns: 1fr;
    }


    form {
        width: 90%;
        padding: 1em;
        font-size: 0.01rem;

    }

    label,
    input {
        font-size: 0.5rem;
        padding: 0;



    }

    textarea {
        width: 90%;
    }

    #nombre,
    #apellido,
    #email,
    #asunto {
        width: 90%;
    }



}

@media screen and (max-width: 425px) {


    .header {
        display: flex;
        height: 8em;
        flex-direction: row;
        justify-content: space-evenly;
    }

    nav {
        display: none;
    }

    .btn button {
        display: none;
    }

    #lateral {

        display: block;
        width: 80%;
        height: 7vh;
        position: fixed;
        top: 0;
        left: -100%;
        background-color: #fff;
        transition: left 1s;

    }

    #lateral:target {
        left: 0;
    }


    .nav__links {
        flex-direction: row;
        text-align: start;
    }

    .header__icon {
        display: block;
        color: black;
        font-weight: bold;
    }

    .producto-title {
        font-size: 3em;
    }

    .producto-grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .contact-container {
        margin-left: 0;
        margin-top: 0;
    }

    form {
        display: flex;
        flex-direction: column;
        font-size: 0.6rem;
    }

    label,
    input {
        font-size: 1rem;
    }


}